<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MSE.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MSE.Web.styles.css" asp-append-version="true" />

    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: darkorange;
                    color: white;
                }

                .topnav a.active {
                    background-color: #04AA6D;
                    color: white;
                }
    </style>

</head>
<body>
    <div class="topnav">
        <a href="/ProductionLine/Index">Production Line</a>
        <a href="/WorkStation/Index">Work Station</a>
        <a href="/Personnel/Index">Maintanence Personnel</a>
        <a href="/PersonnelStation/Index">Responsible Personnel - Work Station</a>
        <a href="/Alarm/Index">Alarm</a>
        <a href="/WorkStation/Search" style="float:right;">Searching Page</a>
    </div>

    <hr />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
