@model MSE.DTO.DTOs.ProductionLine.ProductionLineToAddDTO

@{
    ViewData["Title"] = "AddNewProductionLine";
}


<h2>Add New Production Line</h2>
@using (Html.BeginForm("AddNewProductionLine", "ProductionLine", FormMethod.Post))
{
    <div class="padding:10px;">
        <div>
            <label>Production Line Name: </label><br />
            @Html.TextBoxFor(q => q.ProductionLineName, new { @class = "form-control" })
        </div>
        <div>
            <label>Start Date: </label><br />
            @Html.TextBoxFor(q => q.FirstProductionDate,"{0:yyyy-MM-dd}", new {@class = "form-control" , type = "date" })
        </div>
        <div>
            <label>Finish Date: </label><br />
            @Html.TextBoxFor(q => q.LastProductionDate,"{0:yyyy-MM-dd}", new {@class = "form-control" , type = "date" })
        </div>
        <div style="margin-top:15px;">
            <button class="btn btn-primary">Add</button>
        </div>
    </div>
}

