@using MSE.Entity.Entities.Concrete
@model List<MaintenancePersonnel>

@{
    ViewData["Title"] = "Index";
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>Maintenance Personnel List</h2>

<a href="/Personnel/AddNewPersonnel/" class="btn btn-success">Add New Personel</a>
<br />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Name</td>
                <td>@x.Surname</td>
                <td>@x.PhoneNumber</td>
                <td>@x.EmailAdress</td>
                <td><a href="/Personnel/DeletePersonnel/@x.MaintenancePersonnelId" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</a></td>
                <td><a href="/Personnel/GetPersonnelById/@x.MaintenancePersonnelId" class="btn btn-primary">Update</a></td>
            </tr>
        }
    </tbody>
</table>


